body {
  color: var(--text-light);
}

header{
  display: flex;
  flex: 1;
  max-height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.hamburger-menu {
  width: 28px;
  height: 28px;
}

#user-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-data{
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
#user-avatar{
  background: var(--purple);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-avatar img{
  max-height: inherit;
  max-width: inherit;
}

.user-name{
  font-size: 16px;
  font-weight: bold;
}

.user-email{
  font-size: 14px;
}

#exp-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin-top: 8px;
}

#exp-bar span {
  width: 14px;
  height: 14px;
  background: #548759;
  border: 3px solid var(--background-dark);
}

#exp-bar span.gotten {
  background: chartreuse;
}

#exp-bar span:first-of-type {
  border-radius: 50% 0 0 50%;
}

#exp-bar span:last-of-type {
  border-radius: 0 50% 50% 0;
}

#content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#content > div {
  margin: 8px 48px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content .challenge-description p {
  margin-top: 8px;
}

#content .challenge-info h3 {
  font-weight: normal;
  margin-top: 8px;
}

#content .box {
  background: var(--dark-grey);
  border-radius: 10px;
}

.options {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button-option {
  display: flex;
  width: 400px;
  background: var(--purple);
  border-radius: 10px;
  height: 40px;
  margin: 8px auto;
  border: 3px solid var(--purple);
  outline: 0;
  transition: all .2s;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  color: var(--text-dark);
}

button.button-option:hover {
  border-color: var(--green);
  background-color: var(--green) ;
}

div.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 12px 0;
 }

.button-home{
  display: flex;
  width: 100px;
  height: 30px;
  background: var(--red);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.button-home img{
  max-width: 25px;
  max-height: 25px;
}

.button-send{
  display: flex;
  width: 100px;
  height: 30px;
  color: var(--text-light);
  background: var(--green);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.blur{
  height: 100vh;
  width: 100vw;
  background: #00000050;
  position: absolute;
  top:0;
  right: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  background: var(--green);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 12px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card h1 {
  font-size: 3rem;
}

.inside-card {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid #000;
  background-color: var(--purple);
  margin: 12px 20px;
  padding: 12px; 
}
.heart-bar{
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  width: 90%;
}

.heart-bar img{
  max-width: 28px;
  margin: 0 4px;
}
.avatar-card{
  max-height: 150px;
  margin: 8px auto;
}
.xplevel{
  margin: 4px auto;
}
.challenge-result{
  margin: 4px auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}
.content-card{
  background-color: #fff;
  color: var(--text-dark);
  padding: 20px;
  border-radius: 20px;
}
.content-card p {
  text-align: center;
  font-weight: bold;
}
.title-card{
  justify-content: center;
  align-items: center;
  font-weight: 80px;
   
}

.avatar-card{
  align-items: center;
  justify-content: center;
}
.continue-button{
  display: flex;
  width: 100px;
  height: 30px;
  color: var(--text-light);
  background: var(--purple);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.return-menu{
  font-size: 0.8rem;
  text-decoration: underline;
  margin-top: 8px;

}



@media (max-width: 600px) {
  .button-option {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 60px;
  }
}
