body {
    background: #16161a;
    height: 100%;
}

.section-login {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.logo{
    margin-bottom: 30px;
}

.login-box {
    width: 400px;
    height: 500px;
    background: #2cb67d;
    border-radius: 20px;

    padding: 20px 25px;
}

.login-box h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    line-height: 112px
}

.input-box {
    display: flex;
    flex-direction: column;

    color: #ffff;
    font-weight: 400;
}

.input-box label {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-box input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

    padding: 5px;
}

.input-box input:focus {
    outline: none;
}

.button-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-box a {
    margin-bottom: 20px;
    text-decoration: underline;
}

.button-regis2 {
    padding: 8px;
    border-radius: 20px;
    background: #7F5AF0;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    body {
        background: #2cb67d;
        height: 100%;
    }
}